html, body{
    margin: 0;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    
    height: 100%;
}

h1,
h2,
h3,
p
{
    margin-bottom: 0;
    margin-top: 0;
}

h1{
    font-size: 2.25rem;
    
}

h2{
    font-size:1.3125rem;
}
h3{
    color:#F18119;
}
.small{
    font-size:0.625rem;
    color: grey;
    width: 15em;
    margin: 0 auto;
}

.bold{
    font-weight: 900;
}

.upper{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.light{
    font-weight: 400;
}

.top-intro{
    color: #F18119;
    border-top: 5px solid #F18119;
    display: inline-block;
    letter-spacing: 3px;
    font-size:0.8rem;
}
.top-mid{
    color: white;
   padding-top: 15vh;
   padding-right: 5vh;
   padding-left: 5vh;
   padding-bottom: 3em;
   line-height: 2.5rem;
   font-weight: 100;
}

.top-bottom{
    color:#F18119;
    
}

.body-section p{
    padding-top: 1.1em;
    color:#404040;
   
}

.body-p{
    line-height: 1.2rem;
}
.input-submit{
    color: white;
    
}

/*lay out*/
.flex{
    display: flex;
    flex-direction: column;
    
}
.container{
    margin: 0 auto;
    text-align: center;
    position: relative;
    
}
.heading-section{
    background-image: url(images/dark-ribs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    
}


.body-section{
    background-color: white;
    height: auto;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 2em;
    
}
.form-section{
    display: flex;
    flex-direction: column;
    width: 18rem;
    margin: 0 auto;
    
}
input{
    text-align: center;
    margin-bottom: 1em;
}

input{
    border: 1.4px solid rgb(168, 168, 168);
    border-radius: 5px;
    padding: 13px;
    margin-bottom: 0;
    
}
.input-text{
    margin-bottom: 0.5rem;
    
}
.input-submit{
    background-image: linear-gradient(to right,#FFA51D, #FF713B);
    border: none;
   
}


@media screen and (min-width: 768px){

    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 1.75rem;
    }

    body{
        font-size: 1.125rem;
    }

    .top-mid{
        line-height: 3.25rem;
        margin-top: 10%;
        display:inline-block;
    }
    
    .flex{
        
        flex-direction: row;
    }
    .container{
        height: 100%;
    }

    .heading-section{
      
       width: 50%;
      height: 100%;
    }
    
    .body-section{
      
     padding-top: 20vh;
     width: 50%;
     
   
    }
    .body-text{
      line-height: 2rem;
    }
    .top-mid{
       padding-top:30vh;
padding-bottom: 2rem;
    }

}